.login-button {
    height: 30px;
    background-color: dimgray;
    margin-bottom: 20px;
}

.loginFormContainer {
     width: 100%;
     display: flex;
     justify-content: center;
 }

.loginForm {
    width: 300px;
    background-color: darkgray;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
}

.login-label {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.auth-info {
    font-weight: bold;
    background-color: dimgray;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
}

.other-option-container {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.nonDecorationLink {
    text-decoration: solid;
    color: black;
}

.other-option {
    color: black;
}


