<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My notepads</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <style>* {
        margin: 0;
        padding: 0
    }</style>
    <script type="text/javascript" th:src="@{/javascript/login.js}"></script>
</head>
<body class="body">
<header class="header radius">
    <a th:href="myNotepads" class="myTitleLink nonDecorationLink">My notepads</a>
</header>

<div class="loginFormContainer">
    <div class="loginForm radius">
        <h2 class="login-label">Log In</h2>
        <div id="input-id" class="auth-info radius" contenteditable="true" placeholder="ID" autofocus></div>
        <div id="input-password" class="auth-info radius" contenteditable="true" placeholder="Password"></div>
        <button class="login-button" onclick="login()">Log In</button>
        <div class="auth-info radius error-message message" th:if="${param.error}">Invalid username or password.</div>
        <div class="auth-info radius logged-out-message message" th:if="${param.logout}">Logged out successfully.</div>
        <div class="other-option-container">
            <a href="https://google.com/" class="other-option">Sign Up</a>
            <a href="https://google.com/" class="other-option">Forgot password?</a>
        </div>
    </div>
    <form name="form" th:action="@{/login}" method="post">
        <input id="id-form" type="hidden" name="username" />
        <input id="password-form" type="hidden" name="password" />
    </form>
</div>

<footer class="footer radius">
    © 2021 My notepad .inc
</footer>
<script type="text/javascript" th:src="@{/javascript/login.js}"></script>
</body>
<script>
    document.onload = enterIsLogin('input-id', 'input-password')
</script>
</html>